.logo {
  width: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;
  outline: none;

  &:hover,
  &:focus {
    .logo__icon {
      fill: darken(#d89b64, 5%);
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.logo__icon {
  fill: var(--sand-brown);
  transition: fill 0.3s ease;
}

.logo__title {
  font-size: 24px;
  line-height: 36px;
  color: var(--dark);
}
